/*----------------FONT------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap');

/*----------- NULL STYLE ----------------*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-family: "Roboto", serif;
	background-color: #5e5373;
	color: #ffff;
	padding-left: 15px;
	padding-right: 15px;
}
textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color: inherit;
}
/*------------------------------------------------------------------------------*/

.header {
	color: #ebe691;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.main__title,
.title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	&:not(:last-child) {
		margin-top: 15px;
	}
}
.main__list, 
.list {
	margin-bottom: 50px;
	margin-left: 15px;
}
.main__item,
.item {
	margin-left: 15px;
	&:not(:last-child){
		margin-bottom: 15px;
	}
}
.main__link, 
.link {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0%;
		height: 1px;
		background-color: #ffff;
		transition: all 0.3s ease 0s;

	}
	@media (any-hover: hover){
		&:hover{
			&::before {
				width: 100%;
			}
		}
	}
}
/*----------------------------------------------------*/
.table {
	border: 1px solid #ffff;
	margin-bottom: 25px;
	border-collapse: collapse;
}
.table__title {
	border-bottom: 1px solid #ffff;
	padding: 5px;
	&:not(:last-child) {
		border-right: 1px solid #ffff;
	}
}
.table__cell {
	padding: 5px;
	text-align: center;
	&:not(:last-child) {
		border-right: 1px solid #ffff;
	}
}
/*----------------------------------------------------*/
.block {
	padding-top: 25px;
}
/*----------------------------------------------------*/
.button {
	padding: 10px;
	margin-right: 10px;
	color: #5e5373;
	background-color: #ffff;
	border-radius: 5px;
}
/*----------------------------------------------------*/
.form-element {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 5px;
	input {
		width: 100px;
		height: 20px;
		background-color: inherit;
		border: 1px solid #ffff;
		border-radius: 5px;
	}
}
/*----------------------------------------------------*/
.container {
	display: flex;
	gap: 10px;
}
/*----------------------------------------------------*/
.block-pyramid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
}
/*----------------------------------------------------*/
.banner {
	display: block;
	position: relative;
	padding-bottom: 35%;
	width: 350px;
	overflow: hidden;
	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	h2 {
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
		color: #000;
		font-size: 18px;
		text-align: center;
	}
}
/*-----------------------------------------------------*/
hr {
	border: 1px solid #ffffff;
}
/*-----------------------------------------------------*/
.form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
	
}
.form:not(:last-child) {
	margin-bottom: 15px;
}
.form__row {

}
.form__buttons {
	display: flex;
	gap: 15px;
	button {
		padding: 10px;
		border-radius: 5px;
		border: #ffffff 1px solid;
	}
}
.form__table {
	padding: 10px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
}
.input {
	color: #5e5373;
}
.result {
	padding-bottom: 25px;
}
.result__row:not(:last-child) {
	margin-bottom: 15px;
}
/*-----------------------------------------------------*/
.trip__body {
	display: flex;
	column-gap: 15px;
}
.trip__stage {
	padding: 10px;
	border: 1px solid #ffffff;
	display: grid;
	gap: 15px;
}
.breakfast,
.lunch,
.dinner,
.food,
.trip {
	display: grid;
	gap: 10px;
}
fieldset {
	border: 1px solid #ffffff;
	padding: 10px;
	border-radius: 5px;
}
/*-----------------------------------------------------*/
.main__text {
	padding: 5px;
	max-width: 100px;
	cursor: pointer;
}
/*-----------------------------------------------------*/
.main__inputs {
	display: grid;
	max-width: 300px;
	gap: 10px;
	margin-bottom: 15px;
}
.main__list-2 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 15px;
	ol {
		padding: 10px 10px 10px 20px;
	}
}
/*-----------------------------------------------------*/
.main__products {
	display: flex;
	gap: 20px;
	margin-bottom: 15px;
}
.item-card {
	flex: 0 1 25%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background: #ffffff;
	color: #5e5373;
	padding: 30px 15px 15px 15px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.05);
	position: relative;
	border: 3px solid transparent;
}
.item-card.toggle {
	border: 3px solid green;
}
.item-image {
	flex: 0 1 70%;
	padding-bottom: 70%;
	position: relative;
	width: 100%;
	border-radius: 6px;
}
.item-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-lable {
	position: absolute;
	z-index: 2;
	pointer-events: none;
	top: 12px;
	left: 12px;
	background-color: orange;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	padding: 4px 8px;
	border-radius: 4px;
}
.item-card h2 {
	font-size: 16px;
}
.price {
	font-weight: 700;
	font-size: 18px;
	color: rgb(226, 18, 60);
}
/*-----------------------------------------------------*/
.sportsmen {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: #ffffff;
	color: #5e5373;
	padding: 5px;
}
.arrow-image {
	max-width: 20%;
	cursor: pointer;
}
.arrow-image img {
	max-width: 100%;
}
.sportsmens {
	display: grid;
	width: max-content;
	grid-template-columns: repeat(2, 200px);
	gap: 15px;
	border: 2px solid #ffffff;
	padding: 5px;
	margin-bottom: 15px;
}
.sportsmens__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-height: 200px;
	border: 2px solid #ffffff;
	padding: 5px;
}
/*-----------------------------------------------------*/
.search-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: max-content;
	label {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	input {
		color: #5e5373;
	}
}
.people-list {
	display: grid;
	align-content: start;
	width: 200px;
	height: 350px;
	gap: 10px;
	border: 2px solid #ffffff;
	border-radius: 15px;
	padding: 10px;
}
