/*----------------FONT------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap');

/*----------- NULL STYLE ----------------*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-family: "Roboto", serif;
	background-color: #5e5373;
	color: #ffff;
	padding-left: 15px;
	padding-right: 15px;
}
textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color: inherit;
}
/*------------------------------------------------------------------------------*/

.header {
	color: #ebe691;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.main__title,
.title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	&:not(:last-child) {
		margin-top: 15px;
	}
}
.main__list, 
.list {
	margin-bottom: 50px;
}
.main__item,
.item {
	margin-left: 15px;
	&:not(:last-child){
		margin-bottom: 15px;
	}
}
.main__link, 
.link {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0%;
		height: 1px;
		background-color: #ffff;
		transition: all 0.3s ease 0s;

	}
	@media (any-hover: hover){
		&:hover{
			&::before {
				width: 100%;
			}
		}
	}
}
/*----------------------------------------------------*/
.table {
	border: 1px solid #ffff;
	margin-bottom: 25px;
}
.table__title {
	border-bottom: 1px solid #ffff;
	padding: 5px;
	&:not(:last-child) {
		border-right: 1px solid #ffff;
	}
}
.table__cell {
	padding: 5px;
	text-align: center;
	&:not(:last-child) {
		border-right: 1px solid #ffff;
	}
}
